h1{

    font-family: cursive;
    color: black;
    padding-left: 550px;
    padding-top: 30px;

    
}

h2{
    
    padding-left: 635px;
    float: center;
    color: darkslategray;
}

h4{
    
  p {
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
}
 
    color: darkslategray;
}

#column1{
    
    width: 650px;
    height: 40%;
    position: relative; 
    padding: 0px;
    margin-right: 300px;
    margin-left: 370px;
    float: center;
    display: center;
    font-size: 20px;
    text-align: center;
  
}


nav{
    
    z-index: 1;
    position: relative;
    bottom: 100px;
    top: -685px;
    left: 10px;
    padding: 0px;
    
}

ul{
    
    list-style-type: none;
    margin: 0;
    width: 175px;
    background-color: rgb(232,232,232);
    display: center;
}

li a{
    
    display: block;
    width: 90px;
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 20px;
    font: monospace;
    
}

body{
    
    background: white;
    
}

#test{
    
    z-index: -1;
    position: relative;
    padding-bottom: 0px;
    padding-left: 300px;
    display: center;
    
}